.portfolio {
  margin: 3rem 0;
  h2 {
    text-align: center;
  }

  .projects_container {
    width: 50rem;
    height: 50vh;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #659cbb61;
    border-radius: 1rem;
    box-shadow: 0 0 5px rgba(#000000, 0.5);
  }

  .projects {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    overflow-y: auto;
    padding: 0.5rem;
    .item {
      width: 220px;
      height: 160px;
      border-radius: 1rem;
      box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
      &:hover {
        box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.8);
      }
      a > img {
        width: 100%;
        height: 100%;
        border-radius: 1rem;
      }
    }
  }
}
