/* You can add global styles to this file, and also import other style files */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}

body {
  background: linear-gradient(#2a9d8f, #1d3557) no-repeat;
  color: #fff;
}
